<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-5"></h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Адрес проживания</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Статус сотрудника</th>
                    <th scope="col">Отдел</th>
                </tr>
            </thead>
            <tbody>
                {% for panda in object_list %}
                <tr>
                    <th scope="col">{{ panda.id }}</th>
                    <td>{{ panda.name }}</td>
                    <td>{{ panda.address }}</td>
                    <td>{{ panda.birth }}</td>
                    <td>{{ panda.position }}</td>
                    <td>{{ panda.status }}</td>
                    <td>{{ panda.position.department }}</td>
                    <td><a href="#"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
